*{
    padding:0;
    margin: 0;
}
.logo1{
    font-size: 30px;
    font-weight:800;
   
}
.table-header{
    text-align: center;
}


.table-box{
   display: flex !important;
   justify-content: center !important;
   width: 100% !important;
   padding-left: 30px;
   padding-right: 30px;
}
table{
    width: 100%;
}
td{
    text-align: center !important;
    padding: 10px;
}
th{
    background-color: antiquewhite;
    font-size:20px;
    text-align: center;
}
table{
    border:1px solid black
}
.bottom{
    display: flex;
    justify-content: space-around;
    padding-top:10px;

}
.pagination{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}
.pagination>span{
    width: 30px;
    text-align: center;
}
input{
    width: 50px;
}
.table-header{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom:30px
}
.search{
    width: 300px;
    border-radius: 2px;
    
}
button{
    padding: 8px;
}