.user-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputBox{
    display: flex;
    flex-direction:column;
}
.inputBox>input{
    width: 200px;
    height: 30px;
    margin-top:10px ;
}

.inputBox>button{
    margin-top: 10px;
}